@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  background-image: url("https://res.cloudinary.com/dmqz317kh/image/upload/v1707150330/backgroundgreen_l2io3q.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;


} 
